.location-cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.location-card {
  background-color: #656565;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  position: relative;
  height: auto;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateX(-10px);
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .location-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .location-cards-container {
    grid-template-columns: repeat(1, 1fr);
    width: 25rem;
  }
}

@media (max-width: 480px) {
  .location-cards-container {
    grid-template-columns: repeat(1, 1fr);
    width: 25rem;
  }
}
.text {
  display: block;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.5s ease;
  position: relative;

  &:hover {
    color: #5484ff;
    transform: translateX(10px);
  }
}

.text a {
  color: #ffffff;
  text-decoration: none;
}

.text h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.text p {
  margin-top: 10px;
  font-size: 14px;
}
